html,
body {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background-color: black;
	color: white;
	width: 100%;
	height: 100%;
	margin: 0px;
	border: 0;
	overflow: hidden;
	/*  Disable scrollbars */
	/* No floating content on sides */
	max-width: 1500px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

h1 {
	text-align: center;
	margin: 0;
}

h2 {
	text-align: center;
	margin: 0;
}

h3 {
	text-align: center;
	margin: 0;
}

#chartContainer {
	margin: 0 auto;
	position: relative;
	height: 100%;
	width: 100%;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: 10px;
	margin-top: 10px;
}

.settings {
	display: flex;
	flex-direction: row;
	margin: 10px;
	justify-content: space-around;
	align-items: baseline;
	flex-wrap: wrap;
	gap: 10px;
}

.inputNumber {
	background-color: black;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	padding: 5px;
	height: 20px;
	text-align: center;
	vertical-align: baseline;
}

.inputText {
	background-color: black;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	padding: 5px;
	height: 20px;
	text-align: center;
	vertical-align: baseline;
	width: 100px;
}

.inputContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
	items-align: baseline;
}

.datePicker {
	background-color: black;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	padding: 5px;
	height: 20px;
	vertical-align: baseline;
	width: 100px;
}
.timePicker {
	background-color: black;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	padding: 5px;
	height: 20px;
	vertical-align: baseline;
	width: 70px;
}

.pickerContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
}

.dataCountContainer {
	background-color: black;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	padding: 5px;
	height: 20px;
	text-align: center;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
}

label {
	text-align: center;
}

::-webkit-calendar-picker-indicator {
	filter: invert(1);
}
